@import url('./variables.css');

/* Card CSS */
.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-pad {
    padding: 15px;
}

.card-title {
    margin: 0px 0px 10px 0px;
}

.card-link {
    color: #404040;
    text-decoration: none;
}

.card-link:hover,
.card-link:focus {
    color: #404040;
    text-decoration: none;
}

/* Post Flex Box*/
.post-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    left: 0;
    right:0;
}

.post-item {
    max-width: 600px;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

/* Member Card */
.member-card {
    padding-bottom: 15px;
    max-width: 375px;
    margin: 0 auto;
}

/* Navbar Logo */
.navbar-logo {
    float: left;
    height: 50px;
    padding: 15px 5px;
}

.logo {
    height: 30px;
    position: absolute;
}

@media only screen and (min-width: 1170px) {
    /* Hide light logo when scrolling down */
    .navbar-custom.is-fixed .logo-light {
        visibility: hidden;
    }
}

@media only screen and (max-width: 767px) {
    /* Custom padding for mobile screen's smaller nav bar */
    .navbar-logo {
        padding: 10px 20px;
    }
    
    /* Hide light logo in mobile nav bar*/
    .logo-light {
        visibility: hidden;
    }
}

/* Footer Social Icons */
.fa.fa-inverse {
    color: var(--light-color);
}
