/* Card CSS */
.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-pad {
    padding: 15px;
}

.card-title {
    margin: 0px 0px 10px 0px;
}

.card-link {
    color: #404040;
    text-decoration: none;
}

.card-link:hover,
.card-link:focus {
    color: #404040;
    text-decoration: none;
}

/* Post Flex Box*/
.post-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    left: 0;
    right:0;
}

.post-item {
    max-width: 600px;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

/* Member Card */
.member-card {
    padding-bottom: 15px;
    max-width: 375px;
    margin: 0 auto;
}

/* Logo */
.logo {
    font-size: 100%
}

.logo-droplet {
    font-size: 120%;
    vertical-align: middle;
}