.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-pad {
    padding: 15px;
}

.card-link {
    color: #404040;
    text-decoration: none;
}

.card-link:hover,
.card-link:focus {
    color: #404040;
    text-decoration: none;
}